/* custom-file-input.css */
.custom-file-input {
    display: inline-block;
    padding: 75px;
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    position: relative;
    /* Ensure the ::before is positioned correctly */
}

.custom-file-input:hover {
    background-color: #ddd;
    border: 2px solid #ccc;
    /* Darken background on hover */
}

.custom-file-input input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    /* Make the input cover the entire div and be invisible */
}

.custom-file-input::before {
    content: 'Choose File';
    display: inline-block;
    background-color: #D20103;
    border: none;
    color: white;
    padding: 20px 50px;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-input:hover::before {
    background-color: darkred;
    /* Darken button background on hover */
}