$mantine-breakpoint-sm: 768px;

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

.splineContainer {
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%; /* Ensure the Spline covers the entire viewport */
  z-index: -1; /* Send the Spline to the background */
}

.splineBackground {
  width: 100%;
  height: 100%;
}

.inner {
  position: relative;
  z-index: 1; /* Ensure content stays above the Spline background */
  text-align: center;
  padding-top: 50vh; /* Adjust the padding for vertical alignment */
  transform: translateY(-50%); /* Center the content vertically */
  padding-bottom: 0; /* Remove bottom padding to avoid gap */

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 0;
    padding-top: 8rem;
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 6.2rem; /* Adjusted font size */
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 4.2rem;
    line-height: 1.2;
  }
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: 2.4rem; /* Adjusted font size */
  color: light-dark(var(--mantine-color-dark-2), var(--mantine-color-gray-0)); /* Brighter color for smaller text */

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.8rem;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: 5.4rem; /* Adjusted control height */
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  margin: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 5.4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    flex: 1;
  }
}

.content {
  opacity: 0;
}
